# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.borsh-csharp.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\qxwxi\RiderProjects\borsh-csharp\.idea\.idea.borsh-csharp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
